<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Automation Suite">

    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>


    <test name="Login Test">
        <classes>
            <class name="tests.E2ETests">
                <methods>
                    <include name="singleItemPurchase"/>
                    <include name="addRemoveThenBuyRemainingItem"/>
                    <include name="priceValidation"/>
                    <include name="twoConsecutiveOrders"/>
                    <include name="sortByPriceThenBuyCheapest"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>